Repository beyond-all-reason/RecoilEngine, pull requests merged in 2025-03, with the labels that each got.

#2009 Pass original font to GetFontForCharacters, instead of the latest tested font
  rts/Rendering/Fonts/CFontTexture.cpp
Labels: area: fonts

#2013 Perform an early glyph match with the fontconfig pattern glyphs.
  rts/Rendering/Fonts/CFontTexture.cpp
Labels: area: fonts, status: candidate

#2011 Make sure recently/often used fonts don't get evicted from cache.
  rts/Rendering/Fonts/CFontTexture.cpp
Labels: area: fonts, status: candidate

#2067 Make maximum number of pinned fonts configurable through MaxPinnedFonts.
  rts/Rendering/Fonts/CFontTexture.cpp
  rts/Rendering/Fonts/CFontTexture.h
  rts/System/SpringApp.cpp
Labels: area: fonts

#1990 Add Spring.GetProjectilesInSphere
  rts/Lua/LuaSyncedRead.cpp
  rts/Lua/LuaSyncedRead.h
Labels: area: Lua API

#1955 add deep reactivity to rmlui data models
  rts/Rml/SolLua/bind/Context.cpp
Labels: area: RmlUi

#1980 rml svg plugin that can render dynamic svg
  rts/Rml/Backends/RmlUi_Backend.cpp
  rts/Rml/CMakeLists.txt
  rts/Rml/SVG/ElementSVG.cpp
  rts/Rml/SVG/ElementSVG.h
  rts/Rml/SVG/SVGPlugin.cpp
  rts/Rml/SVG/SVGPlugin.h
  rts/lib/CMakeLists.txt
Labels: area: RmlUi
